bc-logs/
*.pth
*.pt

# Ignore .venv
.venv

# Ignore all zip files
*.zip

# Ignore all stuff in "data" folder except for the .gitkeep
data/*
!data/.gitkeep

# Ignore pycache
__pycache__/
.idea/

# Ignore all .pth files
*.pth

# Ignore log files
ppo_implementation/runs/